<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dp.ibps.generalawareness">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="@string/true_val"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExamTyari"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.VacabularyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.NCERTActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.MockTestResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.MockTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.NoInternetConnection"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.NotificationsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.UpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".Activity.IntroSliderScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>


</manifest>